apiVersion: v1
kind: Pod
metadata:
  name: stress-deployment-4
spec:
  containers:
  - args:
    - stress-ng
    - --io
    - '4'
    - --vm
    - '4'
    - --vm-bytes
    - 1G
    - --timeout
    - 3m
    image: polinux/stress-ng:latest
    name: stress-container
    resources:
      limits:
        cpu: 1000m
      requests:
        cpu: 500m
  nodeSelector:
    kubernetes.io/hostname: node1.reinierc-176345.ufl-eel6871-fa23-pg0.utah.cloudlab.us
  restartPolicy: Never